<!DOCTYPE html>
<html>
<head>
  <title>HaveRead</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to "Home", subs_url, method: :get%>
<% if current_user  %>
<%= link_to "Log off", session_url, method: :delete %>
<br>
<a>Current User: <%= current_user.user_name %></a>
<% else %>
<%= link_to "Log In", new_session_url, method: :get%>
<%= link_to "Join", new_user_url, method: :get%>
<% end %>


<% flash.each do |type, msgs| %>
  <% msgs.each do |msg| %>
    <%= msg %>
  <% end %>
<% end %>

<%= yield %>



</body>
</html>
